* {
  box-sizing: border-box;
}
/*
variables
*/
:root {
  --borderColor: 1px solid #e5e5e5;
  --padding: 0 15px 0 15px;
  --textColor: #6c757d;
}

/*
fonts
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: var(--padding);
}
.date {
  color: var(--textColor);
}
.box {
  border-radius: 0.25rem;
}
/*
header
*/
header {
  line-height: 1;

  a {
    text-decoration: none;
    color: var(--textColor);
    &:hover {
      color: var(--textColor);
    }
  }
  .headerTop {
    display: flex;
    padding: 0.5rem 0 0.5rem 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--borderColor);
    // padding: 1rem 0 1rem 0;
    h1 {
      margin-bottom: 0;
      text-align: center;
    }
    .title {
      color: #000;
      font-size: 2.25rem;
      font-weight: 400;
    }
    .topRight {
      display: flex;
      justify-content: center;
      a {
      }
      .magnifier {
        margin-right: 1rem;
      }
      .signUp {
        border: 1px solid var(--textColor);
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        line-height: 1.5;
        border-radius: 0.2rem;
        &:hover {
          color: #fff;
          background: var(--textColor);
          text-decoration: none;
        }
      }
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-bottom: 0.5rem;
  }
}
/*
main
*/
main {
  .featureBg {
    background: #343a40;
    margin-bottom: 2rem;
  }
  .feature {
    width: 50%;
    color: #fff;
    padding: 3rem;
    border-radius: 0.25rem;
    h1 {
      font-style: italic;
      font-size: 3rem;
      line-height: 1.2;
    }
    p {
      font-size: 1.25rem;
      font-weight: 300;
      margin-bottom: 1rem;
    }
    a {
      color: #fff;
      font-weight: 700;
    }
  }
  .pinned {
    display: flex;
    margin-bottom: 1.5rem;
    .pinnedPosts {
      display: flex;
      max-height: 250px;
      // margin: var(--padding);
      border: var(--borderColor);
      box-shadow: 0 0.25rem 0.75rem #0000000d;
      &:first-child {
        margin-right: 15px;
      }
      &:last-child {
        margin-left: 15px;
      }

      .postLeft {
        flex: 1;
        padding: 1.25rem;
        h3 {
          margin-bottom: 0;
          a {
            color: #000;
          }
        }
      }
    }
  }
}
.blog {
  display: flex;
  justify-content: space-between;
  h3 {
    font-style: italic;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: var(--borderColor);
  }
  .posts {
    flex: 0 0 66%;
  }
  .pagination {
    margin-bottom: 4rem;
  }
  aside {
    flex: 0 0 33%;
    h4 {
      font-style: italic;
    }
    .sideBar-item {
      padding: 1rem;
    }
    .aboutBg {
      background: #f8f9fa;
    }
    ol,
    ul {
      padding-left: 0;
      list-style: none;
    }
  }
}

/*
footer
*/
footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
  p {
  }
}
